{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign max_columns_mobile_int = section.settings.max_columns_mobile | plus: 0
  assign max_columns_desktop_int = section.settings.max_columns_desktop | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > max_columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign max_columns_to_show = max_columns_mobile_int
  if max_columns_desktop_int > max_columns_mobile_int
    assign max_columns_to_show = max_columns_desktop_int
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<section
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
  class="container-lg space-y-2"
>
  <div class="my-4">
    {% if section.settings.title != blank and section.settings.show_title %}
      <h2 class="px-5 tracking-tight text-black {{ section.settings.heading_size }} {{ section.settings.title_alignment }} ">
        {{ section.settings.title }}
      </h2>
    {% endif %}
    {%- if section.settings.show_description and section.settings.description != blank -%}
      <div class="px-5">
        <p>{{ section.settings.description }}</p>
      </div>
    {%- endif -%}
  </div>

  <div>
    {% comment %} Slider Button {% endcomment %}
    <div class="flex lg:hidden gap-3 my-2 justify-end items-center px-4">
      <button
        {% comment %} x-ref="prevBtn" {% endcomment %}
        {% comment %} @click="prev()" {% endcomment %}
        type="button"
        class="size-10  flex items-center justify-center hover:bg-current/7 bg-current/10 rounded-full transition-opacity"
        aria-label="Previous"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          viewBox="0 0 24 24"
          role="img"
          height="25px"
          width="25px"
          class="object-cover"
          fill="none"
        >
          <path stroke="currentColor" stroke-width="1.5" d="M15.525 18.966L8.558 12l6.967-6.967"></path>
        </svg>
      </button>

      <button
        x-ref="prevBtn"
        type="button"
        @click="prev()"

        class="size-10 rotate-180 flex items-center justify-center hover:bg-current/7 bg-current/10 rounded-full transition-opacity"
        aria-label="Previous"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          viewBox="0 0 24 24"
          role="img"
          height="25px"
          width="25px"
          class="object-cover"
          fill="none"
        >
          <path stroke="currentColor" stroke-width="1.5" d="M15.525 18.966L8.558 12l6.967-6.967"></path>
        </svg>
      </button>
    </div>
    <div>
      {%- if section.settings.collection != blank and section.settings.collection.products_count > 0 -%}
        {% assign collection = section.settings.collection %}

        {% style %}
          #ProductGrid-{{ section.id }} {
            display: grid;
            gap: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            grid-template-columns: repeat({{ max_columns_mobile_int }}, 1fr);
          }

          @media screen and (min-width: 800px) {
            #ProductGrid-{{ section.id }} {
              grid-template-columns: repeat(3, 1fr);
            }
          }

          @media screen and (min-width: 920px) {
            #ProductGrid-{{ section.id }} {
              grid-template-columns: repeat({{ max_columns_desktop_int }}, 1fr);
            }
          }
        {% endstyle %}

        <div
          id="ProductGrid-{{ section.id }}"
        >
          {%- for product in collection.products limit: products_to_display -%}
            {% render 'card-product',
              product: product,
              collection: collection,
              image_ratio: section.settings.image_ratio,
              card_image_position: section.settings.card_image_position,
              quick_view: section.settings.quick_view
            %}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_text.content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.featured-collection.settings.title.default",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show Title"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "text-lg",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "text-xl",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "text-2xl",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "text-3xl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "text-5xl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "text-2xl",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.featured-collection.settings.show_description.label",
      "default": false
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_collection.content"
    },
    {
      "type": "range",
      "id": "max_columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Max Columns"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label",
      "info": "t:sections.featured-collection.settings.show_view_all.info"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:sections.featured-collection.settings.view_all_style.label",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "4/5",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "card_image_position",
      "label": "Card Image Position",
      "options": [
        {
          "value": "object-top-left",
          "label": "Top Left"
        },
        {
          "value": "object-top",
          "label": "Top"
        },
        {
          "value": "object-top-right",
          "label": "Top Right"
        },
        {
          "value": "object-left",
          "label": "Left"
        },
        {
          "value": "object-center",
          "label": "Center"
        },
        {
          "value": "object-right",
          "label": "Right"
        },
        {
          "value": "object-bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "object-bottom",
          "label": "Bottom"
        },
        {
          "value": "object-bottom-right",
          "label": "Bottom Right"
        }
      ],
      "default": "object-top"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "quick_view",
      "default": true,
      "label": "Quick View"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "max_columns_mobile",
      "default": "2",
      "label": "Max Colmns",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
