{%- liquid
  assign menu = linklists[section.settings.menu]
  if menu and menu.links.size > 0
    assign has_menu = true
  else
    assign has_menu = false
  endif

  assign show_account = shop.customer_accounts_enabled
  if section.settings.sticky_header_type != 'none'
    assign sticky_enabled = true
  else
    assign sticky_enabled = false
  endif
-%}

<section
  x-data="
    {
      mobileOpen: false,
      toggleMobile() {
        this.mobileOpen = !this.mobileOpen;
        if (this.mobileOpen) {
          const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;
          document.body.style.overflow = 'hidden';
          document.body.style.paddingRight = scrollbarWidth + 'px';
        } else {
          document.body.style.overflow = '';
          document.body.style.paddingRight = '';
        }
      },
      closeMobile() {
        this.mobileOpen = false;
        document.body.style.overflow = '';
        document.body.style.paddingRight = '';
      }
    }
  "
  @keydown.window.escape="closeMobile()"
  @close-mobile.window="closeMobile()"
  class="{% if sticky_enabled %}shopify-section-header-sticky{% endif %} z-30 color-{{ section.settings.color_scheme }} gradient"
  data-sticky-type="{{ section.settings.sticky_header_type }}"
  style="background: rgb(var(--color-background)); color: rgb(var(--color-foreground)); margin-bottom: {{ section.settings.margin_bottom }}px; padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div
    class="container-lg px-4 sm:px-6 lg:px-10 border-current/15 {% if section.settings.show_line_separator %}border-b{% endif %}"
    :inert="mobileOpen"
  >
    <div class="flex items-center justify-between h-16 gap-4">
      <div class="flex items-center gap-3 min-w-30">
        <a href="{{ routes.root_url }}" class="flex items-center gap-2 focus:outline-none">
          {%- if settings.logo != blank -%}
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {%- assign logo_height_class = section.settings.logo_icons_size | replace: 'size-', 'h-' -%}
            {%- assign logo_size_class = logo_height_class | append: ' w-auto object-contain' -%}
            {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 40vw, {{ settings.logo_width }}px{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: logo_size_class,
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
          {%- else -%}
            <span class="text-lg font-semibold tracking-tight">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>

      {%- if has_menu -%}
        <nav class="hidden lg:flex flex-1 items-center justify-center gap-6 text-sm font-medium">
          {%- for link in menu.links -%}
            {%- if link.links.size > 0 -%}
              {%- assign has_children = true -%}
            {%- else -%}
              {%- assign has_children = false -%}
            {%- endif -%}
            <div class="relative group">
              <a
                href="{{ link.url }}"
                class="flex items-center gap-1 px-2 py-1 rounded-md hover:bg-current/5 transition"
              >
                <span class="text-[1rem] font-sans">
                  {{ link.title }}
                </span>
                {%- if has_children -%}
                  <span class="text-[10px] opacity-60">▼</span>
                {%- endif -%}
              </a>
              {%- if has_children -%}
                <div class="absolute left-0 top-full mt-2 min-w-55 rounded-md border border-current/10 bg-[rgb(var(--color-background))] text-[rgb(var(--color-foreground))] shadow-lg opacity-0 invisible translate-y-1 group-hover:opacity-100 group-hover:visible group-hover:translate-y-0 transition">
                  <div class="flex flex-col py-2">
                    {%- for child in link.links -%}
                      <a href="{{ child.url }}" class="px-4 py-2 text-sm hover:bg-current/5 transition">
                        {{- child.title -}}
                      </a>
                    {%- endfor -%}
                  </div>
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </nav>
      {%- else -%}
        <div class="flex-1" aria-hidden="true"></div>
      {%- endif -%}

      <div class="flex items-center justify-end gap-1 min-w-40">
        {% comment %} Search {% endcomment %}
        <div
          {% comment %} href="{{ routes.search_url }}" {% endcomment %}
          class="inline-flex items-center cursor-pointer lg:min-w-36 px-2 w-10 h-10 rounded-full lg:bg-current/5  hover:bg-current/10 transition"
          aria-label="Search"
        >
          {% render 'search-logo', class: 'size-6 justify-start' %}
          <input type="text" class="w-full focus:outline-0 ml-1 placeholder:font-medium" placeholder="Search">
        </div>

        {% comment %} Account Icon {% endcomment %}
        {%- if show_account -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="inline-flex items-center justify-center w-10 h-10 rounded-full border-current/15 hover:bg-current/5 transition"
            aria-label="Account"
            rel="nofollow"
          >
            {%- if section.settings.enable_customer_avatar and customer and customer.has_avatar? -%}
              <span class="inline-flex size-6 overflow-hidden rounded-full">{{ customer | avatar }}</span>
            {%- else -%}
              {% render 'account-logo', class: 'size-6' %}
            {%- endif -%}
          </a>
        {%- endif -%}

        {% comment %} WishList Icon {% endcomment %}
        <a
          href="#"
          class="inline-flex items-center justify-center size-10 rounded-full  hover:bg-current/5 border-current/15  transition relative"
          aria-label="Cart"
          id="cart-icon-bubble"
        >
          {%- if cart == empty -%}
            {% render 'wishlist-logo', class: 'size-6' %}
          {%- else -%}
            {% render 'wishlist-logo', class: 'size-6' %}
          {%- endif -%}
        </a>

        {% comment %} Cart Icon {% endcomment %}
        <a
          href="{{ routes.cart_url }}"
          class="inline-flex items-center justify-center size-10 rounded-full  hover:bg-current/5 border-current/15  transition relative"
          aria-label="Cart"
          id="cart-icon-bubble"
        >
          {%- if cart == empty -%}
            {% render 'cart-logo', class: 'size-6' %}
          {%- else -%}
            {% render 'cart-logo', class: 'size-6' %}
          {%- endif -%}
          {%- if cart != empty -%}
            <span class="absolute -top-1 -right-1 min-w-4.5 h-4.5 rounded-full bg-current text-[rgb(var(--color-background))] text-[10px] font-semibold flex items-center justify-center px-1">
              {%- if cart.item_count < 100 -%}
                {{ cart.item_count }}
              {%- else -%}
                99+
              {%- endif -%}
            </span>
          {%- endif -%}
        </a>

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
          {%- endcase -%}
        {%- endfor -%}

        <button
          type="button"
          class="lg:hidden inline-flex items-center justify-center w-10 h-10 rounded-full hover:bg-current/5 transition"
          @click="toggleMobile()"
          aria-label="Open menu"
        >
          <span class="sr-only">Toggle navigation</span>
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 7h16M4 12h16M4 17h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  {%- if has_menu -%}
    {% render 'mobile-menu', menu: menu, show_account: show_account %}
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    { "type": "link_list", "id": "menu", "default": "main-menu", "label": "Main menu" },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "on-scroll-up", "label": "On scroll up" },
        { "value": "always", "label": "Always" }
      ],
      "default": "on-scroll-up",
      "label": "Sticky behavior"
    },
    { "type": "checkbox", "id": "show_line_separator", "default": true, "label": "Show bottom border" },
    { "type": "color_scheme", "id": "color_scheme", "label": "Color scheme", "default": "scheme-1" },
    { "type": "checkbox", "id": "enable_customer_avatar", "default": true, "label": "Show customer avatar" },
    {
      "type": "select",
      "id": "logo_icons_size",
      "label": "Logo size",
      "default": "size-5",
      "options": [
        {
          "value": "size-5",
          "label": "Small"
        },
        {
          "value": "size-6",
          "label": "Medium"
        },
        {
          "value": "size-10",
          "label": "Large"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "blocks": [{ "type": "@app" }],
  "presets": [{ "name": "Header" }]
}
{% endschema %}
