{% capture media_gallery %}
  {%- content_for 'block',
    type: '_product-media-gellary',
    id: 'media-gallery',
    closest.product: closest.product
  -%}
{% endcapture %}

{% capture product_details %}
  {% content_for 'block',
    type: '_product-details',
    id: 'product-details',
    closest.product: closest.product
  %}
{% endcapture %}

{% capture additional_blocks %}
  {% content_for 'blocks' %}
{% endcapture %}

{% assign media_class = '' %}
{% if section.settings.desktop_media_position == 'right' %}
  {% assign media_class = 'order-2' %}
{% endif %}

<div
  style="
    padding-top: {{ section.settings.padding-block-start }}px;
    padding-bottom: {{ section.settings.padding-block-end }}px;
  "
  class="
    color-{{ section.settings.color_scheme }}
    {% if section.settings.content_width == 'container' %}container-lg max-w-6xl{% else %}full-width{% endif %}
  "
>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-[20px]">
    <div class="{{ media_class }} col-span-2">
      {{ media_gallery }}
    </div>
    <div class="col-span-1">
      {{ product_details }}
    </div>
  </div>
  {{ additional_blocks }}
</div>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "Content width",
      "options": [
        {
          "value": "container",
          "label": "Page Width"
        },
        {
          "value": "content-full-width",
          "label": "full"
        }
      ],
      "default": "container"
    },
    {
      "type": "select",
      "id": "desktop_media_position",
      "label": "Desktop media position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap",
      "min": 0,
      "max": 48,
      "step": 4,
      "unit": "px",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_add_to_cart",
      "label": "Enable sticky add to cart",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": []
}
{% endschema %}
